#friends
{
    width: 20%;
    float: left;
    height: 100%;
    background-color: #66f;
    color: white;
}
.friend
{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.friend:hover {
    background-color: #44f;
}
.friend p
{
    padding: 10px 0px;
}
#chat
{
    width: 80%;
    float: right;
    height: 100%;
}
#messages
{
    width: 100%;
    height: 90%;
    background-color: #222;
}
.friendholder
{
    width: 100%;
    float: left;
}
.message
{
    width: auto;
    float: right;
    background-color: #333;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 5px 0px;
}
.message p
{
    padding: 0px 20px;
}
#enter
{
    width: 100%;
    height: 10%;
}
#enter textarea
{
    height: 100%;
    width: 80%;
    float: left;
}
#enter button
{
    height: 100%;
    width: 20%;
    float: left;
}