/* Styles go here */

.arrow_box {
	position: relative;
	background: #D3F6F6;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  
	left: 100%;
	top: 1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.even .arrow_box:after {
  left:100%;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #D3F6F6;
  border-width: 20px;
  margin-top: -2px;
}

.odd .arrow_box:after {
  left:-2.85em;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #EFFFF2;
  border-width: 20px;
  margin-top: -2px;
}


h1{
  padding-left:1em;
}
.even {

}
.odd {

}
.time {
  padding-top: 1em;
  color: #808080;
  
  
}
.name {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: 1em;
  
}

.odd .name {
  top: 0.5em;
  position: relative;
  left: -13em;
}
.even .name {
  top: 0.5em;
  position: relative;
  left: 11em;
}
.text {
  overflow: auto;
  max-width: 13em;
  width: 13em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right:1em;
}
.even .time {
  position: relative;
  text-align: right;
}

#text {
  width: 25em;
}


.chat-window {
  display: table;
  padding-left: 2em;

 
}
.field {
  padding-top: 1em;
  padding-left: 2em;
  
}

.message{
  border: 1em;
}
.even .message{
  background-color: #D3F6F6;
  position: relative;
  left: 10em;
}
.odd .message{
  background-color: #EFFFF2;
  position: relative;
  left: 4em;
}

.row {
  display: table-row;
}
.cell {
  display: table-cell;
}
